.container {
    width: 1000px;
    height: 1000px;
    border: 5px solid black;
    background-color:beige;
    overflow: hidden;
}

#test-header {
    position: relative;
    font-size: 40px;
    top: 300px;
    width: 500px;
    left:-1000px;
    display: block;
}